.container-list{
    font-size: 16px;
    color: black;
    width: 100%;
    text-align: center;
  
}
.shop-list{
    list-style: none;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.container-img{
    width: 70px;
    height: 70px;
}
.item-image{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
.item-container{
    border: 2px solid gray;
    border-radius: 10px;
    margin: 15px;
    width: 200px;
    text-align: center;
}
.item-button-container{
    display: flex;
    justify-content: space-around;
}