/* 
.App-header {
  background-color:rgb(247, 247, 173);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(223, 52, 109);
} */

/* .App-link {
  color: #61dafb;
} */
/* .container-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
} */